:root {
  --main-color: #2e2f42;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-accent {
  color: var(--main-color);
}

.header-menu-link {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address {
  font-style: none;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02px;
}

.header-menu-link:active {
  color: #404bbf;
}
.header-address-link-mail:active {
  color: #404bbf;
}

.hero {
  background-color: var(--main-color);
}
.hero-head {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.071;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.0025em;
  font-family: inherit;
  cursor: pointer;
}

.hero-button:hover {
  color: #404bbf;
}
.hero-button:focus {
  color: #404bbf;
}

.button-link {
  color: #4d5ae5;
  background-color: #e7e9fc;
  font-size: 16px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-link-blue {
  color: #ffffff;
  background-color: #404bbf;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.menu-head {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-text {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

..section-images-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.images-head {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.images-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team {
  background-color: #f4f4fd;
}
.section-team-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team-head {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--main-color);
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
